<div class="center">
 
	<div class="jumbotron">
	<h1><%= title "#{@team.name}" %></h1>
	</div>



	<div id="goals" class="masonry clearfix">
		<%= render @goals.order(:date).reverse_order %>
	</div>

	<div class="paginator">
  	<%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
	</div>
</div>