<footer class="footer">
  <small>
    Goalopedia &#169; 2014 | All videos via <a href="http://gfycat.com/" class="">Gfycat.com</a> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "DMCA", dmca_path %></li>
    </ul>
  </nav>
</footer>