<section id="footerbottom" class="bg-grey">
    <div class="container">
            <div class="row align-center copyright pad-bot20 pad-top20">
          <div class="col-sm-6 align-left">Goalopedia &#169; 2014 | All videos via <a href="http://gfycat.com/" class="">Gfycat.com</a></div>
                <div class="col-sm-6 align-right"><p><%= link_to "About", about_path %> | <%= link_to "Contact", contact_path %> | <%= link_to "DMCA", dmca_path %></p></div>
      </div>
        </div>
        </section>