<section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:80px; background-color:rgba(108,191,99,1);" data-300="line-height:60px; height:60px; background-color:rgba(108,191,99,1);">
       <div class="container overflow-visible">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Goalopedia" data-0="height:57px;" data-300="height:35px;"/></a></h1>
                    <div id="main-nav">                        
                    </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav sf-menu" data-0="margin-top:25px;" data-300="margin-top:12px;">
            <li><a href="#">Clubs</a>
                            <ul>
                                <li><a href="#">Clubs 1</a></li>
                                <li><a href="#">Clubs 2</a></li>
                                <li><a href="#">Clubs 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">International</a>
                             <ul>
                                <li><a href="#">International 1</a></li>
                                <li><a href="#">International 2</a></li>
                                <li><a href="#">International 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Leagues and Cups</a>
                            <ul>
                                <li><a href="#">Leagues and Cups 1</a></li>
                                <li><a href="#">Leagues and Cups 2</a></li>
                                <li><a href="#">Leagues and Cups 3</a></li>
                            </ul>
                        </li>
                        <li class="display-none login-wrap"><a href="#">Login / Signup</a></li>
                        <li class="display-none">
                        <div class="searchform" data-0="margin-top:-5px;" data-300="margin-top:5px;">
                            <form id="Form1">
                                <a href="#" class="submitbtn"></a>
                                <input type="text" placeholder="Search" class="search" name="s" />
                            </form>
                        </div>
                        </li>
          </ul>
                    <div class="float-right">
                        <div class="searchform" data-0="margin-top:-5px;" data-300="margin-top:5px;">
                            <form id="searchform">
                                <a href="#" class="submitbtn"></a>
                                <input type="text" placeholder="Search" class="search" name="s" />
                            </form>
                        </div>
                        <div class="loginform" data-0="margin-top:-5px;" data-300="margin-top:5px;">
                            <a href="#" class="loginbtn">Log in / Sign up</a>
                        </div>
                    </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>