<div class="goal box">
		<% gfyid = competition.goals.last.gfy.to_s.gsub("http://gfycat.com/", "") %>       
    <div class="gfySize">
        <div class="gfyitem" data-title=false data-autoplay=false data-controls=false data-expand=false data-id="<%= gfyid %>"></div>
    </div>
    <h2>
		<%= link_to competition do %>
				<%= competition.name %> 
			<% end %>
	</h2>
</div>

