<div class="jumbotron">
<h1>Find Your Favorite Cups and Leagues</h1>
</div>
<div id="goals" class="masonry clearfix">

	<%= render @competitions.order(:id).reverse_order %>
	<div class="compBox box">
		<h2><%= link_to "Can't Find it? Add Your Favorite League", new_user_registration_path %></h2>
		<div class="gfySize">
				<div class="gfyitem" data-title=false data-autoplay=true data-controls=false data-expand=false data-id="HappyNecessaryBernesemountaindog"></div>
		</div>

	</div>

</div>


<% title 'Cups and Leagues' %>
<% description 'Check out the highlights for your favorite Leagues, Cups, and Tournaments, including every goal from the 2014 World Cup.' %>
<% keywords 'World Cup, Premier League, La Liga, Cups, Leagues, Highlights, gifs, Gfycat, soccer, football, goals, goal' %>