<% if defined?(Devise) %>
        <% if current_user %>
			<div class="jumbotron">
				<h1>Hello <%= @user.username %>!</h1>
			</div>
        <% else %>
        	<div class="jumbotron">
  				<h1>User Profile: <%= @user.username %></h1>
			</div>
        <% end %>
<% end %>

<div id="goals" class="masonry clearfix">
		<%= render @goals.order(:created_at).reverse_order %>
	</div>

	<div class="paginator">
  	<%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
	</div>








