<div class="jumbotron">
<h1><%= title "About Goalopedia" %></h1>
</div>

<div class="textMargin">

<p>Our mission is to document every goal caught on tape! Help us make Goalopedia the best resource for goals possible!</p>

</div>