<div class="textMargin">

<% provide(:title, 'About') %>
<h1>Welcome to Goalopedia!</h1>
<p>Our mission is to document every goal caught on tape! Help us make Goalopedia the best resource for goals possible!</p>

</div>