<section class="videocontainer bg-grey page-section">
    <div class="container position-relative">
	<h1 class="text-center color-green txt-regular align-center"><%= title "List" %></h1>







<ul>
<% @teams.each do |a| %>

<li><%= a.name %> <%= a.id %></li>

<% end %>
</ul>






</div>
</section>