<% set_meta_tags :description => "Welcome to Goalopedia! Please contact us to make our site better",
                 :keywords => "contact, goalopedia, goals, create, help, score, soccer, football" %>

<section class="videocontainer bg-grey page-section">
    <div class="container position-relative">
	<h1 class="text-center color-green txt-regular align-center"><%= title "Contact Us" %></h1>





<p>Our website is currently under development, so please <a href="mailto:info@goalopedia.com" target="_blank">contact us</a> with suggestions on how to make Goalopedia a better place. Thank you for helping us reach our goals!</p>

</div>
</section>