<div class="center">
 
  <div class="jumbotron">
    <h1>Welcome to Goalopedia! Discover Awesome Goals and Add Your Favorites</h1>
  </div>


	<div id="goals" class="masonry clearfix">
		<%= render @goals.order(:id).reverse_order %>
	</div>

	<div class="paginator">
  	<%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
	</div>
	</div>

</div>


<% set_meta_tags :description => "Welcome to Goalopedia! Our mission is to document every goal caught on tape, help us make Goalopedia the best resource for goals possible!",
                 :keywords => " goalopedia, goals, score, soccer, football, gfy, gif, football, premier, league, world, cup, " %>