<div class="center">
 

  <div class="jumbotron">

  <% if @query.blank? %>
    <h1><%= title "Search Your Favorite Teams and Players" %></h1>
  <% else %>
    <h1><%= title "Seach results for #{@query}" %></h1>
  <% end %>
  </div>

  <div id="goals" class="masonry clearfix">
    <%= render @goals %>
  </div>

  <div class="paginator">
    <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
  </div>
  </div>

</div>


<% set_meta_tags :description => "Welcome to Goalopedia! Our mission is to document every goal caught on tape! Help us make Goalopedia the best resource for goals possible!",
                 :keywords => "contact, goalopedia, goals, create, help, score, soccer, football" %>
