<%- model_class = Goal -%>

<section class="videocontainer bg-grey page-section">
    <div class="container position-relative">   

    <h1 class="text-center color-green txt-regular align-center"><%= title "New Goal" %></h1>

<%= render :partial => 'form' %>

    </div>
</section>