<%- model_class = Goal -%>
<div class="jumbotron">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Goal %></h1>
</div>
<div class="textMargin">

<%= render :partial => 'form' %>
</div>
