/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_self


*/
@import "bootstrap_configuration";

@import "bootstrap";


/*Site Colors
*/




//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}


/*Nav Bar*/

.navbar-default {
  background-color: #42CA8A;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-form .form-control {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.navbar-brand {
  float: left;
  padding: 5px;
  height: 70px;
  margin-left: 3%;
}

.navbar {
  border-radius: 0px;
}

.navbar-form {
  padding-top: 8px;


}

.navbar-form.navbar-right:last-child {
  margin-right: 0px;
}

.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

/*Home*/
.jumbotron h1, .jumbotron .h1 {
font-size: 2em;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #42CA8A;
  color: #FFF;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*body*/

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333332;
background-color: #DBFBFF;
}



/*Goal Partial*/


.gfySize {
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
}

.box a {
  color: #ffffff;
  text-decoration: none;
}

.box a:hover {
  text-decoration: underline;
}




/*Masonry Things*/

/**** Base styles ****/



body {
  overflow-y: scroll;
}



.box {
  float: left;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  background-color: $brand-primary;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.box h2 {
    font-size: 1.5em;
    margin-top: 0px
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/*pagination*/

.paginator {
  clear: both;
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}




/*upload page*/

.uploadPage {
  margin-left: 250px;

}

.uploadPage input {
  margin: 10px;

}

/*Goal Show*/

.page-header h1 {

  text-align: center;

}


.showContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.showContent .form-group {
  margin-top: 20px;

}

.gfyShow {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

}

.gfyShow .gfyVid {
  border: #DEDEDE 10px groove;
  border-bottom-color: transparent;
  max-width: 900px;
}

.vidOut {
  margin-left: auto;
  margin-right: auto;


}

/*Buttons*/

.btn-success {
  color: #FFF;
  background-color: #42CA8A;
  border-color: #4CAE4C;
}

/*Add Margins for non goal pages*/

.textMargin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;


}

/*WHATS PERSONAL SPACE?!?@?#*/


.topMarg {
  margin-top: 15px;


}