/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_self
*= require font-awesome


*/
@import "bootstrap_configuration";

@import "bootstrap";
@import "font-awesome";

/*Site CSS
*/

.btn-info {
  background-color: RoyalBlue;

}

.btn-info:hover {
  background-color: MidnightBlue;
}

/*Nav Bar*/
.navbar {
  background-color: #42CA8A;
}

.search {
  background: url("search.png") right no-repeat;
  background-color: #FFF;
  margin-top: 13px;
  margin-bottom: 13px;

}

.btn-default.btn-info a {
  color: white;
  text-decoration: none;

}

.btn-default a {
    color: black;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-size: 1.3em;
  margin-top: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #FFF;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #FFF;
  white-space: nowrap;
}

.dropdown-menu {
  background-color: #42CA8A;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
text-decoration: none;
background-color: #3CB57C;
}


.navBrand {
padding: 5px;
height: 60px;
margin-left: 5px;
}

.navForm {
width: 300px;
float: left;
margin-left: 3%;
}

.navbar-form.navbar-right {
  margin-top: 13px;


}

.none {
  display: none;

}

/*Competitions*/

.compBox {
  background-color: #42CA8A;
    float: left;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  font-size: 11px;
  line-height: 1.4em;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.compBox a {
  color: white;
}

.extra {
  min-width: 360px;
  max-width: 450px;
  height: 290px;
}








//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}




/*Nav Bar*/



/*Home*/
.jumbotron h1, .jumbotron .h1 {
font-size: 2em;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #42CA8A;
  color: #FFF;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron h1 a {
  color: white;
  text-decoration: none;
}

.jumbotron h1 a:hover {
  color: #178F4B;
  text-decoration: none;
}

/*nav toggle*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: #42CA8A;
color: #555;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*body*/

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;

}



/*Goal Partial*/


.gfySize {
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
}

.goal.box a {
  color: #ffffff;
  text-decoration: none;
}

.goal.box a:hover {
  text-decoration: underline;
}

.goal.btn-small {
font-size: 10px;
float: right;
margin-top: 4px;

}


.btn-small:hover {
  text-decoration: none;
}

.goal.box a:hover {
text-decoration: inherit;
}

.goal.box h2:hover {
  text-decoration: underline;

}

.goal.box h2:hover {
  font-size: 1.5em;

}



/*rating stuff*/


.rateStars {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.rateStars .star img {
  height: 20px;
  margin-top: 9px;
}

.star {
  float: left;
}

.raty-cancel {
  display: none;

}

.avRating {
  float: left;
  font-size: 17px;

}

/*Masonry Things*/

/**** Base styles ****/



body {
  overflow-y: scroll;
  background-color: #DBFBFF;
}



.box {
  float: left;
  margin: 5px;
}

.goal.box {
  float: left;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  background-color: #42CA8A;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


}

.box h2 {
    font-size: 1.5em;
    margin-top: 0px
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/*pagination*/

.paginator {
  clear: both;
  margin-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}




/*upload page*/

.uploadPage {
  margin-left: 250px;

}

.uploadPage input {
  margin: 10px;

}

/*goal edit*/

.editGoal {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-bottom: 30px;
}

/*Goal Show*/

.page-header h1 {

  text-align: center;

}

.showEdit {
  float: right;


}

.attribution {
  font: 12px/17px "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  color: #999;
  font-style: italic;
  float: left;
}

.attDiv {
  margin-bottom: 40px;
  width: 100%
}



#twitter-widget-0 {
  float: right;
  margin-right: -15px;
}

.redditLink {
  float: right;
  width: 36px;
  margin-right: 10px;
}

.showContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.showContent .form-group {
  margin-top: 30px;

}

.gfyShow {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px
}

.vidOut .gfyVid {
  border: #DEDEDE 10px groove;
}



.vidOut {
  float: left;
  max-width: 600px;
  margin-right: 20px;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
  min-width: 350px;
  float: left

}

.list-group-item {
  text-align: center;
}

.ratingExtra {
  height: 42px;
  padding-left: 85px;


}

.showRow {

  clear: both;
}

.noRat {
  height: 44px;
  padding-top: 3px;
  padding-left: 25px;

}

.noRat .star {
  margin-top: 7px;

}

.margTop {
  margin-top: 7px;

}


.otherGoals {
  clear: both;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.otherGoals li {
  list-style: none;

}

.otherGoals a {
  font-size: 1.5em;


}

.goalThumb {
  float: left;
  margin-left: 50px;
  text-align: center;
}

.teamLink {
  clear: both;
}

.panel-heading a {
  color: white;


}

.panel-body {
  padding: 5px 15px 15px;
}


/*form*/

.formDiv {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.formDiv .radio {
  display: inline;
  margin-left: 40px;

}

.formDiv .col-lg-10 {
width: 75%;
}

.formDiv .col-lg-2 {
width: 25%;
}

.formDiv .help-inline {
  display: list-item;
  color: #F00;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 0%;
  font-weight: bold;
}

.formDiv .alert {
  color: #F00;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 0%;
  font-weight: bold;
}

/*Buttons*/

.btn-success {
  color: #FFF;
  background-color: #42CA8A;
  border-color: #4CAE4C;
}

/*Add Margins for non goal pages*/

.textMargin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;


}

/*WHATS PERSONAL SPACE?!?@?#*/


.topMarg {
  margin-top: 15px;


}